@import '@styles/variable.module.scss';
@import '@styles/mixins.module.scss';
.container {
  background-color: $thr_color;
  width: 100%;
  margin-top: -60px;
  padding: 20px 50px;
  @include flex_box_custom(space-between, center, 0px);
  z-index: 2;
}
.containerCard {
  @include flex_box_custom(center, center, 10px);
  width: 280px;
  height: 100px;
}
.containerContent {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  font-weight: 400;
  color: $white_color;
  .title{
    padding-bottom: 10px;
  }
}

